body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

select {
    appearance: none; /* Hide default arrow */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
  }
  
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  option {
    padding: 5px;
  }

  #Csv,#Excel{
    margin: 10px;
  }

  #DupexportButton,#AllexportButton{
    margin-top: 5px;
  }
