body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

#processingMessage {
    color: #007bff;
    font-weight: bold;
}

/* Fixed table column width and word-wrap */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

td {
    word-wrap: break-word;
    white-space: normal;
}

thead th {
    background-color: #007bff;
    color: white;
}

/* Adjusting columns */
th {
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    #tables {
        overflow-x: auto;
    }
}
